#carousel{
  .owl-item{
    img{
      height: 400px;
    }
  }
  .owl-nav{
    [class*=owl-]{
      background: none;
    }
    @media screen and (min-width: 600px){
      .owl-prev{
        position: absolute;
        top: 40%;
        left: 10%;
      }
      .owl-next{
        position: absolute;
        top: 40%;
        right: 10%;
      }
    }
  }
}