@for $i from 1 through 50 {
  .margin-top-#{$i} {
    margin-top: #{$i}rem !important;
  }
}
@for $i from 1 through 50 {
  .margin-bottom-#{$i} {
    margin-bottom: #{$i}rem !important;
  }
}
@for $i from 5 through 50 {
  .padding-bottom-#{$i} {
    padding-bottom: #{$i}rem !important;
  }
}
@for $i from 1 through 50 {
  .margin-left-#{$i} {
    margin-left: #{$i}rem !important;
  }
}
@for $i from 1 through 50 {
  .padding-left-#{$i} {
    padding-left: #{$i}rem !important;
  }
}
@for $i from 5 through 50 {
  .size-#{$i} {
    font-size: #{$i}px !important;
  }
}
.font-corn{
  font-family: corn;
}
.text-white{
  color: white;
}
.text-underline{
  text-decoration: underline;
}
.no-resize{
    resize: none;
}
.btn-white{
  background-color: white;
  color: $rojo;
  &.btn-file{
    padding: 9px 11px;
    cursor: pointer;
  }
}
.btn-red{
  background-color: white;
  color: $rojo;
}
.btn-rounded{
  border-radius: 50px;
}
[class*=btn-]{
  border: none;
}
.flex{
  display: flex;
  &.wrap{
    flex-wrap: wrap;
  }
  .center{
    align-items: center;
  }
  .top{
    align-items: flex-start;
  }
}
