@import "colores";
@import "fuentes";
@import "utils";
@import "carousel";

#app{
  background: linear-gradient(to bottom, rgba(237, 14, 200, 1) 0%, rgba(237, 27, 44, 1) 100%) no-repeat;
  background-size: contain;
  overflow-x: hidden;
}
footer{
  background-color: $negro;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height:40px;
  font-family: corn;
}
.formulario{
  background: url("../assets/img/inferior_izquierda.png"), url('../assets/img/inferior_derecha.png');
  background-repeat: no-repeat;
  background-position: left,right;
  background-size: contain;
  input,textarea,button{
    border-radius: 20px;
  }
  .form-group.flex.wrap{
    label + div{
      width: 100%;
    }
  }
  .submit{
    font-weight: 500;
    padding: 5px 20px 5px;
  }
}