<template>
  <div id="app">
      <section id="header" class="margin-left-5">
		<img width="150" src="src/assets/img/target_logo_badge.png" class="img-responsive" alt="">
      </section>
      <section class="row" id="carousel">
          <div class="container">
              <h3 class="text-center text-white font-corn margin-bottom-5">ELEGÍ TU PERFIL</h3>
              <div class="owl-carousel owl-theme" id="carrusel">
                  <div class="item">
                      <img class="center-block" src="src/assets/img/personaje_cuentas.svg" alt="Cuentas">
                  </div>
                  <div class="item">
                      <img class="center-block" src="src/assets/img/personaje_diseno.svg" alt="Diseñador">
                  </div>
              </div>
          </div>
      </section>
      <section class="description margin-bottom-5">
          <div class="container">
              <h3 class="text-white text-center font-corn">BUSCAMOS <span>EJECUTIVO/A DE CUENTAS</span></h3>
              <div class="text-white align-left col-sm-10 col-sm-offset-1 size-18">
                  <p>En la agencia estamos buscando a próximo elemento del equipo de cuentas, si contás con alguna de estas características te invitamos a aplicar: </p>
                  <ul>
                      <li>Graduada de carreras de Economía, Administración de Empresas, Mercadeo o afines.</li>
                      <li>Experiencia mínima de 2 años.</li>
                      <li>Buen manejo de presentaciones a clientes (nuevos negocios).</li>
                      <li>Responsable, proactiva y con disponibilidad de horario.</li>
                      <li>Contar con vehículo y manejo del idioma inglés es un plus.</li>
                  </ul>
                  <p>* Es importante que adjuntés tu Portafolio ya sea vía link o a través de un PDF.</p>
              </div>
          </div>
      </section>
      <section class="formulario row padding-bottom-5">
          <div class="container col-md-6 col-md-offset-3">
              <h2 class="text-white text-center font-corn text-underline">LET´S WORK!</h2>
              <p class="text-white text-center font-corn">REGISTRÁ LOS SIGUIENTES DATOS</p>
              <form class="margin-top-5" @submit.prevent="submit()" novalidate enctype="multipart/form-data">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <input type="text"
                                 name="name"
                                 data-vv-as="nombre"
                                 v-validate="'required|max:50|alpha_spaces'"
                                 v-model="form.name"
                                 placeholder="Nombre Completo"
                                 class="form-control">
                          <span v-show="errors.has('name')"
                                class="help text-white">{{ errors.first('name') }}</span>
                      </div>
                      <div class="form-group">
                          <input type="email"
                                 name="email"
                                 data-vv-as="correo"
                                 v-validate="'required|max:50|email'"
                                 v-model="form.email"
                                 placeholder="Correo electrónico"
                                 class="form-control">
                          <span v-show="errors.has('email')" class="help text-white">{{ errors.first('email') }}</span>
                      </div>
                  </div>
                  <div class=" col-sm-6">
                      <div class="form-group">
                          <input type="text"
                                 name="phone"
                                 data-vv-as="teléfono"
                                 v-validate="'required'"
                                 v-mask="'9999-9999'"
                                 v-model="form.phone"
                                 placeholder="Teléfono"
                                 class="form-control">
                          <span v-show="errors.has('phone')"
                                class="help text-white">{{ errors.first('phone') }}</span>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="form-group">
                          <input type="number"
                                 name="age"
                                 data-vv-as="edad"
                                 v-validate="'required|max_value:150|min_value:18'"
                                 v-model="form.age"
                                 min="18"
                                 max="150"
                                 placeholder="Edad"
                                 class="form-control">
                          <span v-show="errors.has('age')" class="help text-white">{{ errors.first('age') }}</span>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <input type="number"
                                 name="years"
                                 v-model="form.years"
                                 placeholder="Años de experiencia"
                                 class="form-control">
                      </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="form-group">
                        <textarea name="message"
                                  cols="30"
                                  rows="5"
                                  v-model="form.message"
                                  data-vv-as="mensaje"
                                  v-validate="'max:300'"
                                  class="form-control no-resize"
                                  placeholder="Breve descripción de tu perfil"></textarea>
                          <span class="text-white">{{textRemaining()}}/300</span>
                          <span v-show="errors.has('message')" class="help text-white">{{ errors.first('message') }}</span>
                      </div>
                  </div>
                  <div class="col-sm-8">
                      <div class="form-group">
                          <input type="text" name="portfolio" placeholder="Portafolio en línea" v-model="form.portafolio" v-validate="'url:{true}'" data-vv-as="portafolio" class="form-control">
                          <span v-show="errors.has('portfolio')" class="help text-white">{{ errors.first('portfolio') }}</span>
                      </div>
                      <div class="form-group">
                          <template>
                              <vue-recaptcha
                                      sitekey="6LeBjSYUAAAAAD3vTWLVVqXhBy0h-vRPktzcpFSR"
                                      @verify="onCaptcha">
                              </vue-recaptcha>
                          </template>
                          <input type="hidden" name="captcha" v-model="captcha" v-validate="'required'" data-vv-as="captcha">
                          <span v-show="errors.has('captcha')" class="help text-white">{{ errors.first('captcha') }}</span>
                      </div>
                      <div class="form-group">
                          <input type="hidden" name="job" id="job" value="CONTENT MANAGER DIGITAL">
                          <button type="submit" class="btn-red pull-left submit" :class="this.send ? 'disabled' : ''">Enviar <i v-show="this.send" class="fa fa-spinner fa-spin"></i></button>
                      </div>
                  </div>
                  <div class="col-xs-8 col-sm-4">
                      <div class="form-group flex padding-left-1">
                          <label id="label-cv" class="text-white top">Adjuntar <span>Porfolio</span></label>
                          <vue-clip :options="options" :on-complete="subirCv">
                              <template slot="clip-uploader-action">
                                  <div>
                                      <div class="dz-message">
                                          <a href="javascript:void(0)" class="btn-white btn-file margin-left-1 btn-rounded"><i class="fa fa-upload"></i></a>
                                      </div>
                                  </div>
                              </template>
                              <template slot="clip-uploader-body" scope="props">
                                  <div class="file-progress margin-top-1" v-if="props.files[0]">
                                      <span class="text-white" >{{props.files[latest(props.files)].name}}</span>
                                      <div class="progress-indicator" style="background-color: white;height: 2px" :style="{width:props.files[latest(props.files)].progress + '%'}"></div>
                                      <span class="text-white">{{props.files[latest(props.files)].errorMessage}}</span>
                                  </div>
                              </template>
                          </vue-clip>
                      </div>
                      <input type="hidden" name="cvurl" v-model="form.cvurl" v-validate="'required'" data-vv-as="CV">
                      <span v-show="errors.has('cvurl')" class="help text-white">{{ errors.first('cvurl') }}</span>
                  </div>
              </form>
          </div>
      </section>
      <footer>
          <span>WE´RE LOOKING FOR THE BEST CREATIVE TALENT</span>
      </footer>
  </div>
</template>

<script>
    export default {
        data () {
            return{
                form:{
                    name:null,
                    email:null,
                    phone:null,
                    age:null,
                    years:'',
                    message:'',
                    cargo:null,
                    portafolio:null,
                    cvurl:null,
                },
                options:{
                    url:'core/service.php',
                    maxFilesize:{
                        limit:4,
                        message:'Por favor sube un archivo menor a 4MB'
                    },
                    acceptedFiles:'application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf'
                },
                remaining:0,
                send:false,
                captcha:null,
            }
        },
        mounted:function(){
            this.carousel();
        },
        methods:{
            carousel(){
                var owl = $('.owl-carousel');
                owl.owlCarousel({
                    loop:true,
                    margin:10,
                    nav:true,
                    items:1,
                    dots:false,
                    onChanged: cambioCarousel,
                    navText:['<img src="src/assets/img/boton_atras.svg" width="40px">','<img src="src/assets/img/boton_adelante.svg" width="40px">'],
                });
                function cambioCarousel(event){
                    if(event.item.index===2 || event.item.index===4){
                        document.querySelector('.description h3 span').innerHTML = "EJECUTIVO/A DE CUENTAS";
                        document.querySelector('#job').value = "EJECUTIVO/A DE CUENTAS";
                        document.querySelector('#label-cv span').innerHTML = "CV";
                        document.querySelector('.description .container div').innerHTML =
                            "<p>En la agencia estamos buscando a próximo elemento del equipo de cuentas, si contás con alguna de estas características te invitamos a aplicar: </p>"+
                            "<ul>" +
                                "<li>Graduada de carreras de Economía, Administración de Empresas, Mercadeo o afines.</li>" +
                                "<li>Experiencia mínima de 2 años.</li>" +
                                "<li>Buen manejo de presentaciones a clientes (nuevos negocios).</li>" +
                                "<li>Responsable, proactiva y con disponibilidad de horario. </li>" +
                                "<li>Contar con vehículo y manejo del idioma inglés es un plus.</li>" +
                            "</ul>"+
                        "<p>* Es importante que adjuntés tu Hoja de Vida    ya sea vía link o a través de un PDF.</p>";;
                    }
                    if(event.item.index===3 || event.item.index ===1){
                        document.querySelector('.description h3 span').innerHTML = "DISEÑADOR/A GRAFICO/A";
                        document.querySelector('#job').value = "DISEÑADOR/A GRAFICO/A";
                        document.querySelector('#label-cv span').innerHTML = "Porfolio";
                        document.querySelector('.description .container div').innerHTML =
                            "<p>Este es un llamado para los que piensan en imágenes y tienen la habilidad de comunicar efectivamente sus ideas a través de la publicidad:</p>" +
                            "<ul>" +
                            "   <li>Excelente manejo de programas de Diseñado gráfico.</li>" +
                            "   <li>Experiencia de al menos 2 en año trabajando diseño publicitario. </li>" +
                            "   <li>Habilidad para conceptualizar ideas.</li>" +
                            "</ul>" +
                            "<p>* Es importante que adjuntés tu Portafolio ya sea vía link o a través de un PDF.</p>";
                    }
                }
            },
            submit(scope){
                this.$validator.validateAll(scope).then(()=>{
                    this.form.cargo = document.querySelector('#job').value;
                    this.send=true;
                    this.add();
                }).catch(()=>{
                })
            },
            add(){
                axios.post('core/service.php',this.$data.form)
                    .then(this.onSubmit)
                    .catch(function(error){
                        this.errors.push(e)
                    })
            },
            onSubmit(response){
                if(response.data.status == 1){
                    this.send = false;
                    this.$swal('¡Muy bien!',response.data.msg,'success');
                }
                if(response.data.status == 0){
                    this.send = false;
                    this.$swal('¡Algo ha ocurrido!',response.data.msg,'error');
                }
//                Object.assign(this.$data.form,this.$options.data().form);
                Object.assign(this.$data.form,this.$options.data().form);
                setTimeout(()=>{
                    this.errors.clear();

                },20)
            },
            textRemaining(){
                return this.form.message.length;
            },
            latest(values){
                return values.length-1;
            },
            subirCv(file,status,xhr){
                let cadena = xhr.response;
                this.form.cvurl = cadena.replace(/['"]+/g,'');
//                this.props.files = {};
            },
            onCaptcha(response){
                this.captcha = response;
            },
        },
    }
</script>
